*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;

    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    font-weight: 400;

    line-height: 1.2;
    letter-spacing: 0em;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clear {
    clear: both;
}

h1 {
    color: #111;
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}

h1 strong {
    font-weight: bold;
    font-size: 28px;
}

strong {
    font-weight: bold;
}

h3 {
    font-size: 24px;
    margin: 20px 0 10px 0;
    font-weight: bold;
    text-align: center;
    color: #2283d6;
}

a{
    color: #2283d6;
    text-align: right;
    display: block;
    margin-bottom: 20px;
}

/* ==================== */
/* ==== CONTAINERS ==== */
/* ==================== */

.container {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* ================== */
/* ==== CONTENTS ==== */
/* ================== */

.content-90-780{
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.content-90-780 {
    width: 90%;
    max-width: 780px;
}

/* ====================== */
/* ===== FORMULÁRIO ===== */
/* ====================== */
form {
    max-width: 370px;
    width: 100%;
    margin: 40px auto 0 auto;
    background: #f5f5f5;
    padding: 40px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 0;
}

label span,
label strong {
    font-size: 14px;
}

label strong {
    font-weight: bold;
}

input,
select {
    max-width: 350px;
    width: 100%;
    border: 1px solid #eee;
    padding: 14px 8px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

select {
    padding: 13px 8px;
}

input[type=radio] {
    max-width: 20px;
    width: 100%;
    border: 1px solid #eee;
    padding: 12px 8px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input[type=file]{
    display: none;
}

.send-file{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 10px 32px 10px 10px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.send-file .material-icons{
    vertical-align: bottom;
    color: #2283d6;
}

input[type=submit] {
    background: #00aaff;
    width: 100%;
    border: 1px solid #3cbcfc;
    color: #111;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
}

input[type=submit]:hover {
    background: #3cbcfc;
}

/* ================ */
/* ===== BOXs ===== */
/* ================ */

.box25 {
    width: 25%;
}

.box33 {
    width: 33.33%;
}

.box50 {
    width: 50%;
}

.box100 {
    width: 100%;
}

.box25,
.box33,
.box50,
.box100 {
    float: left;
    transition: all 0.3 ease;
}

/* ============================== */
/* ===== ALERTAS DO SISTEMA ===== */
/* ============================== */

.sucesso,
.erro,
.alerta {
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sucesso {
    background: #4ac425;
    border: 1px solid #2baf03;  
}

.erro {
    background: #d12121;
    border: 1px solid #880000;
}

.erro strong {
    font-size: 14px;
}

.alerta {
    background: #ff8800;
    border: 1px solid #ff9900;
}